@charset "utf-8";

.test{
  height: 100%;
  padding-left:0px;
  .sf-back-layout{
    padding: 30px 30px;
    border-bottom: 1px solid #c6c6c6;
    height: 120px;
  }
  .sf-user-icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
}